.App {
  display: flex;
  justify-content: end;
  height: 100vh;
  width: 100vw;
  background-color: #171311;
  font-family: 'system-ui', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.VhLogo{
  margin-right: 50px;
  margin-top: 13px;
  height: 32px;
  width: auto;
}